.l-notes-page-container.notes-page-container
  .l-nav-bar.nav-bar
    .l-nav-bar-header.nav-bar-header CMKeeper
    .l-nav-bar-categories.nav-bar-categories
      ul.categories-list
        li(ng-repeat="category in storage.categories")
          a.category(
              href="#/{{ category.objectId }}",
              ng-class="{'category--active': category == storage.currentCategory}") {{ category.name }}
      .category-add-block
        .category-add(ng-hide="storage.newCategory" ng-click="addCategory()")
          .category-add-icon.fa.fa-plus
          span.category-add-text New category
        .category-add.category-add--editing(ng-show="storage.newCategory")
          .category-add-save-icon.fa.fa-check(href="#" ng-click="saveCategory()")
          form(ng-submit="saveCategory()")
            input.category-add-name(
                type="text"
                ng-model="storage.newCategory.name"
                cm-focus="storage.newCategory"
                ng-keyup="newCategoryInputKey($event)")
    .l-nav-bar-footer.nav-bar-footer
      | © Alex Danilenko 2014<br><br>
      | Powered by<br>
      | AngularJS, Ace, GitHub.io,<br>BackendLess

  .l-content.content
    .l-header.header
      .caption
        .caption-item.caption-category-name {{ storage.currentCategory.name }}
        .caption-item.caption-notes-preloader.fa.fa-refresh.fa-fw.fa-spin.cm-animated(ng-show="storage.isLoadingNotes")
        .caption-item.caption-arrow.fa.fa-angle-right.cm-animated(ng-show="storage.currentNote")
        .caption-item.caption-note-name.cm-animated(ng-show="storage.currentNote") {{ storage.currentNote.name }}
      .l-header-actions.header-actions(ng-show="storage.currentCategory")
        .header-action.header-action-addnote.fa.fa-plus.tooltip(
            ng-click="addNote()"
            data-tooltip="Add note")
        .header-action.header-action-settings.fa.fa-cog.tooltip.tooltip-left(
            ng-click="editCategory()"
            data-tooltip="Edit category")

    .l-notes-bar.notes-bar
      .notes-block(
          ng-class="{'notes-block--open': showNonArcihved}")
        .notes-block-header(ng-click="toggleNonArchived()") Notes
          .notes-block-toggle.fa.fa-caret-right
        ul.notes-list
          li(ng-repeat="note in storage.notes | filter: filterNonArchived")
            a.note(
                href="#/{{ storage.currentCategory.objectId }}/{{ note.objectId }}"
                ng-class="{'note--active': note == storage.currentNote}")
              .note-name {{ note.name }}
              .note-action

      .notes-block(
          ng-class="{'notes-block--open': showArcihved}")
        .notes-block-header(ng-click="toggleArchived()") Archive
          .notes-block-toggle.fa.fa-caret-right
        ul.notes-list
          li(ng-repeat="note in storage.notes | filter: filterArchived")
            a.note(
                href="#/{{ storage.currentCategory.objectId }}/{{ note.objectId }}"
                ng-class="{'note--active': note == storage.currentNote}")
              .note-name {{ note.name }}
              .note-action

    .l-note-view
      .note-view(ng-show="storage.currentNote && !storage.currentNote.isEditing")
        .l-note-view-header.note-view-header
          .l-note-view-actions.note-view-actions
            .note-view-action.note-view-action--edit(
                ng-click="startEditing()") EDIT

          .l-note-view-extras.note-view-extras
            .note-view-extra.note-menu-toggle.fa.fa-ellipsis-v.fa-lg(ng-click="showNoteMenu()")
            .l-note-menu.note-menu.cm-animated(cm-menu ng-show="isNoteMenuVisible" on-close="hideNoteMenu()")
              .note-menu-item(ng-click="startEditing()") Edit
              .note-menu-item(ng-show="!storage.currentNote.archived" ng-click="archiveNote()") Archive
              .note-menu-item(ng-show="storage.currentNote.archived" ng-click="unarchiveNote()") Unarchive
              .note-menu-item(ng-click="deleteNote()") Delete
        cm-marked.l-note-view-content.note-view-content.markdown(
            note="storage.currentNote")

      .note-edit.cm-animated(ng-show="storage.currentNote && storage.currentNote.isEditing")
        .l-note-view-header.note-edit-header
          form.note-edit-name-form(ng-submit="saveEditing()")
            input.note-edit-name(
                type="text"
                ng-model="storage.currentNote.editedName"
                cm-focus="storage.currentNote.isEditing"
                ng-keyup="editNoteInputKey($event)")
          .l-note-view-actions.note-edit-actions
            .note-edit-action.note-edit-action--save(
                ng-click="saveEditing()") SAVE
            .note-edit-action.note-edit-action--cancel(
                ng-click="cancelEditing()") CANCEL

        .l-note-view-extras.note-edit-extras
          .note-edit-extra.fa.fa-ellipsis-v.fa-lg

        .l-note-view-content.note-edit-content
          .note-edit-editor(
            ui-ace="{useWrapMode : true, \
              showGutter: false, \
              mode: 'markdown', \
              theme: 'tomorrow', \
              onLoad: aceLoaded}"
            ng-model="storage.currentNote.editedContent")

  .l-modal.modal.cm-animated(ng-show="isCategoryDialogVisible")
    .l-modal-overlay.modal-overlay(ng-click="cancelEditingCategory()")
    .l-dialog.dialog.category-dialog
      .dialog-wrapper
        .dialog-title Edit category
        .dialog-content
          form(ng-submit="saveEditedCategory()")
            input.dialog-input.category-edit-input(
                ng-keyup="editCategoryInputKey($event)"
                ng-model="editedCategoryName"
                cm-focus="isCategoryDialogVisible"
                placeholder="Category name")
      .dialog-actions
        .dialog-action.dialog-action-left Delete
        .dialog-action.dialog-action-primary(ng-click="saveEditedCategory()") Save
        .dialog-action(ng-click="cancelEditingCategory()") Cancel
